body {
  margin: 0;
  font-family: "Century Schoolbook", serif;
  background-color: gainsboro;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: black;
  color: white;
  z-index: 9999;
}

.logo img {
  max-width: 100px; 
}

.search-bar {
  flex-grow: 1;
  margin: 0 20px; 
  display: flex;
  align-items: center;
}

#search-input {
  padding: 10px;
  width: 300px; 
  border: 1px solid #18f2e5;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#search-input:focus {
  border-color: #18f2e5; 
  box-shadow: 0 0 20px #18f2e5;
  outline: none;
}

#search-button {
  padding: 10px 20px;
  background-color: rgb(255, 255, 255); 
  color: #000000; 
  border: 1px solid #18f2e5;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

#search-button:hover {
  background-color: #18f2e5;
  color: white;
  box-shadow: 0 0 20px #18f2e5;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: inherit;
  text-decoration: none;
  margin-left: 20px;
  position: relative; 
}

nav ul li a:hover {
  color: #18f2e5; 
  text-shadow: 0 0 10px #18f2e5; 
}

nav ul li a.active {
  color: #18f2e5; 
  text-shadow: 0 0 10px #18f2e5; 
}

nav ul li a::after {
  content: ''; 
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px; 
  background-color: #18f2e5;
  transition: width 0.3s ease; 
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%; 
}
.title-2{
  margin-top: 7%;
  padding: 10px;
}

.title-2 h1{
  font-size: 50px;
  color: rgb(0, 0, 0);
  text-align: center;
}

.title-2 hr{
  height: 5px;
  background-color: black;
}


.more {
  display: none;
}

.myBtn {
  cursor: pointer;
  color: #00000000; 
  transition: color 0.3s ease; 
}

.myBtn:hover {
  color: #777777da; 
}


.event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.event-left {
  flex: 1;
  margin-right: 20px;
}

.event-right {
  flex: 2;
  text-align: left;
}

.video {
  width: 100%;
}

.event-right h4 {
  color: #333; 
  font-size: 20px;
}

.event-right h1 {
  color: #000000da; 
}

.event-right p {
  color: #000000c9; 
  font-size: 15px;
  line-height: 1.6;
}

.event-right hr {
  margin-top: 10px;
  margin-bottom: 20px;
  border: 0;
  border-top: 2px solid #000000; 
}


.footer {
  background-color: #000;
  color: #fff;
  padding: 30px;
  text-align: center;
}

.title{
  text-align: center;
  margin-top: 50px;
}

.footer h1, .footer h2, .footer h3, .footer h4, .footer h5, .footer p {
  margin: 0;
  line-height: 1.5;
}

.row-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-3-footer {
  flex: 1;
  margin: 10px;
  text-align: center; 
}
.col-2-footer {
  flex: 1;
}

.footer img {
  width: 100px;
  display: block;
  background-color: #000; 
  margin-top: 30px;
}

/* Copyright text */
.footer p:last-child {
  margin-top: 20px;
  font-size: 14px;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(248, 245, 245, 0.986);
  display: flex;
  justify-content: center;
  align-items: center;
}

.password-prompt {
  text-align: center;
  width: 100%;
  max-width: 300px;
}

.password-prompt img {
  width: 100px;
  margin-bottom: -20px;
}

.password-prompt h1 {
  margin-top: 0;
  font-size: 30px;
  color: #000000;
}

.password-prompt p {
  margin-bottom: 10px;
  font-size: 15px;
  color: #020000;
}

.password-prompt input[type="email"],
.password-prompt input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

.password-prompt button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.password-prompt button:hover {
  background-color: #0057b3bd;
}

@media only screen and (max-width: 800px) {
  .header {
    width: auto;
    padding: 20px;
  }

  nav ul {
    position: absolute;
    top: 60px;
    left: 0;
    background: #000000a2;
    margin-top: 30px;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index: 1;
    backdrop-filter: blur(5px); /* Adjust the blur intensity as needed */
    -webkit-backdrop-filter: blur(5px); /* For compatibility with older browsers */
}

  nav ul li {
    display: block;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  nav ul li a {
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .search-container {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    margin: 0%;
  }

  #search-input {
    width: 50%; 
  }

  #search-button {
    width: 20%;
    margin-right: 30px; 
  }
}

@media only screen and (min-width: 800px) {
  .header {
    width: 100%;
    padding: 20px;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: none;
  }

  .menu-icon {
    display: none;
  }
}


@media only screen and (max-width: 600px) {
  .logo img {
    max-width: 80px; 
  }
}

@media screen and (max-width: 600px) {
  .title-2 {
    margin-top: 30%; 
    padding: 40px; 
    background-size: cover; 
    background-position: center; 
  }

  .title-2 h1 {
    font-size: 40px;
  }
}

@media (max-width: 600px) {
  .event {
    flex-direction: column;
    padding: 20px;
  }

  .event-left {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .event-right {
    text-align: center;
    text-align: justify;
  }
}

@media only screen and (max-width: 600px) {
  .footer {
      text-align: center;
  }

  .title {
      padding: 5px; 
  }

  .title h1 {
      font-size: 20px;
      margin-bottom: 5px; 
  }

  .title h2 {
    font-size: 15px;
  }

  .title h3 {
      font-size: 10px; 
  }
}


